@font-face{
    font-family: pf;
    src: url('苹方-简.ttf');
}

@font-face{
    font-family: Snickles;
    src: url('Snickles.ttf')
}

/*
@font-face {
    font-family: 'pf';
    src: url('../font/苹方-简.ttf');
    src:
      url('../font/苹方-简.eot?#font-spider') format('embedded-opentype'),
      url('../font/苹方-简.woff') format('woff'),
      url('../font/苹方-简.ttf') format('truetype'),
      url('../font/苹方-简.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  /*使用选择器指定字体*/
 /* .home h1, .demo > .test {
    font-family: 'pf';
}

*/